
  <!-- bug dentro do footer-->
 <div class="title_footer"> 
   <h3>Fale conosco</h3>
 </div>

 <!-- FOOTER -->
  <footer id="footer">
   
    <div class="footer-top">

      
      <div>
        <div class="footer-brand-name">Reluzente Vidros</div>
        <p class="footer-tagline">
          "A beleza está na transparência.<br>Nós apenas a damos forma."
        </p>
        <div class="footer-social">
        
            <div class="social-link">
              <img src="whatsapp.svg" alt="icon-whatsapp" class="zap-img">
            </div>
            <div class="social-link">
              <img src="facebook.svg" alt="icon-facebook" class="facebook-img">
            </div>
            <div class="social-link">
              <img src="instagram.svg" alt="icon-instagram" class="instagram-img">
            </div>

        </div>
      </div>

      <div>
        <p class="footer-col-title">Navegação</p>
        <ul class="footer-links">
          
          <li><a href="#sobre">Sobre Nós</a></li>
          <li><a href="#">Orçamentos</a></li>
          <li><a href="#">Atendimento</a></li>
          
        </ul>
      </div>

      <div>
        <p class="footer-col-title">Coleções</p>
        <ul class="footer-links">
          <li><a href="#">Decorativos</a></li>
          <li><a href="#">Janelas & Portas</a></li>
          <li><a href="#">Vitrais</a></li>
          <li><a href="#">Esculturas</a></li>
          <li><a href="#">Sob Encomenda</a></li>
        </ul>
      </div>

      <div>
        <p class="footer-col-title">Contato</p>
        <div class="footer-contact-item">
          <span class="footer-contact-label">Telefone</span>
          <span class="footer-contact-value">(11) 957365641</span>
        </div>
        <div class="footer-contact-item">
          <span class="footer-contact-label">E-mail</span>
          <span class="footer-contact-value">h.rodrisantos123@gmail.com</span>
        </div>
        <div class="footer-contact-item">
          <span class="footer-contact-label">Endereço</span>
          <span class="footer-contact-value">Rua Aimorés 522<br>Vila santo antonio, SP</span>
        </div>
        <div class="footer-contact-item">
          <span class="footer-contact-label">Horário</span>
          <span class="footer-contact-value">Seg–Sex, 7h–18h</span>
        </div>
      </div>
    </div>
         <div class="footer-bottom">
      
      <div class="footer-legal">
        <a href="#">Privacidade</a>
        <a href="#">Termos de Uso</a>
        <a href="#">Cookies</a>
      </div>
       </div>
    
        <div class="footer-copy">
            <p>© 2024 Reluzente Vidros Artesanais Ltda. Todos os direitos reservados.</p>
       </div>
  </footer>


