.form-container {
  max-width: 500px;
  margin: 80px auto;
  padding: 35px;
  background-color: var(--cor-primaria_verde);
  border-radius: 28px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .title {
    text-align: center;
    margin-bottom: 30px;
    margin-top:0px;
    color: var(--cor-fundo);
    font-size: 42px;
    font-family: 'Cormorant Garamond', serif;
  
  }
  .campo {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--cor-fundo);
    border-radius: 4px;
    font-size: 16px;
  }
  .input {
    width: 95%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Cormorant Garamond', serif;
  }

  .label-name {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-fundo);
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
  }
  .label-email {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-fundo);
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
    }
  .label-telefone {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-fundo);
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
  }
  .label-endereco {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-fundo);
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
  }
  .label-produto {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-fundo);
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
  }
  .label-produtos {
    margin-right: 10px;
    color: var(--cor-fundo);
    font-size: 19px;
    font-family: 'Cormorant Garamond', serif;
  }
  .label-whatsapp {
    display: block;
    margin-bottom: 5px;
    color: var(--cor-fundo);
    font-size: 22px;
    font-family: 'Cormorant Garamond', serif;
  }
  
  .option-whatsapp {
    margin-right: 10px;
    color: var(--cor-fundo);
    font-size: 19px;
    font-family: 'Cormorant Garamond', serif;
  }
  .button {
    display: block;
    margin: auto;
    width: 80%;
    padding: 15px;
    background-color: var(--cor-fundo);
    color: var(--cor-primaria_verde);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
