/* You can add global styles to this file, and also import other style files */
:root {
  --cor-primaria_verde: #199d5e;
  --cor-box_shadow: rgba(28, 207, 37, 0.1);
  --cor-fundo: #ffffff;
  --cor-pillar-and-fonte: #333333;
}



